{:objects
 {:User
  {:description "A user of the system."
   :fields
   {:id        {:type (non-null Int)}
    :firstName {:type (non-null String)}
    :lastName  {:type (non-null String)}
    :email     {:type (non-null String)}
    :password  {:type (non-null String)}
    :courses   {:type (non-null (list :Course))}
    }
   }

  :Course
  {:description "A course offered by the institution."
   :fields
   {:id       {:type (non-null Int)}
    :name     {:type (non-null String)}
    :location {:type (non-null String)}
    :students {:type (non-null (list :User))}}
   }

  :Query
  {:fields
   {:userById
    {:type :User
     :args {:id {:type Int}}
     }
    :courseById
    {:type :Course
     :args {:id {:type Int}}}
    }
   }

  :Mutation
  {:fields
   {:upsertUser
    {:type :User
     :args
     {:id {:type (non-null Int)}
      :user {:type (non-null :InputUser)}}}}
   }
  }

 :input-objects
 {:InputUser
  {:description "A user of the system."
   :fields
   {:firstName {:type (non-null String)}
    :lastName  {:type (non-null String)}
    :email     {:type (non-null String)}
    :password  {:type (non-null String)}
    :courses   {:type (non-null (list (non-null Int)))}
    }
   }
  }
 }